/* ----------------------------------------------- nav --------------------------------------------------------------------*/
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;
    font-size: 13px;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin-top: 1px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link:visited {
    text-decoration: none;
    color: inherit;
}


.nav-link::after {
    text-decoration: none;
    color: inherit;
}

.nav-link:nth-child(1) {
    margin-right: 5px;
}

.nav-link-round:last-child {
    margin-right: 4px;
}

.nav-link:nth-child(2) {
    margin-right: 4px;
}

.nav-link-round {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.apps-button {
    display: inline-block;
    text-decoration: none;
    background: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: transparent;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    margin-right: -7px;
}

.apps-button > img {
    opacity: 0.7;
    width:  16px;
    height: 16px;
}

.apps-button:hover, .nav-link-round:hover {
    background-color: #f0f0f0;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}




/* ------------------------ Modal -------------------------------- */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 76%;
    top: 0;
    width: 440px; 
    height: 500px !important; 
    overflow: auto;
    padding: 0;
  }
  
  .modal-content {
    background-color: #fefefe;
    box-shadow: 1.5px 1.5px 1.5px rgb(0 0 0 / 15%);
    border-color: #dadce0;
    /* margin: 15% auto;  */
    margin-top: 15%;
    margin-right: 0%;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .modal-img {
    width: 350px; 
    height: 405px !important; 
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }